body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #000;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 500;
}

div {
  display: block;
}

.logo {
  float: left;
  margin-left: 90px;
  margin-top: 40px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #c3121c;
  line-height: 25px;
  text-transform: uppercase;
}

.logo span {
  color: #fff;
}

.navBar {
  float: right;
  margin-right: 90px;
  margin-top: 40px;
}

.nav {
  padding: 7px 14px;
  margin: 24px 2px 0 2px;
  line-height: 6.2em;
  position: relative;
  border: 2px solid #000;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.nav:hover {
  border-color: #c3121c;
}

.nav:focus {
  border-color: #c3121c;
}

.landing {
  color: #fff;
  content: '';
  background: url(./music-stock.png);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.head-title {
  width: 800px;
  height: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  z-index: 1;
}

.music-title {
  top: 39%;
  position: absolute;
  width: 100%;
}

.hero-title {
  font-size: 3em;
  text-transform: uppercase;

}

.diamond {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  left: 395px;
  top: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider {
  background: #c3121c;
  width: 250px;
  height: 3px;
  position: absolute;
  top: 109px;
}

.slider.left{
  left: 305px;
}

.slider.right {
  right: 295px;
}

.selling-point {
  position: relative;
  top: 150px;
  height: 100%;
  width: 100%;
}

.point-left{
  top: -325px;
  width: 33%;
  float: left;
}

.point-center {
  top: -325px;
  width: 33%;
  float: none;
}

.point-right {
  top: -325px;
  width: 33%;
  float: right;
}
















