/* Global */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');

body {
  margin:0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size:1.1em;
  line-height: 1.5;
  text-align: center;
  background: #333333;
}

h1, h2 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}