/* Global */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed");

* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px/1.5 "IBM Plex Sans Condensed", sans-serif;
  width: 100%;
  height: 100%;
}

/* Header */
header {
  background-color: #000;
  color: #ffffff;
  min-height: 70px;
  border-bottom: rgb(175, 7, 12) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  padding-left: 20px;
}

header nav {
  padding-right: 50px;
}

header .nav {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0px 15px;
  font-weight: bold;
}

header .highlight {
  color: rgb(175, 7, 12);
  font-size: 1em;
}

header .nav:hover {
  border: rgb(175, 7, 12) 2px solid;
  padding: 5px 15px;
}

header .nav:focus {
  border: rgb(175, 7, 12) 2px solid;
  padding: 5px 15px;
}

/* Landing */

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.landing::after,
.library::after,
.album::after {
  content: "";
  background: url(./music15.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.65;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.landing h1 {
  font-size: 50px;
  font-weight: 800;
  color: #212121;
  text-transform: capitalize;
  box-shadow: 0px 5px 0px rgba(175, 7, 12, 0.5),
    0px -5px 0px rgba(175, 7, 12, 0.5);
}

.selling-point {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 100px;
}

.selling-point div {
  padding: 2rem;
  width: 100%;
}

.svg-inline--fa {
  color: rgba(175, 7, 12, 0.5);
}
.selling-point h2 {
  color: #fff;
  text-shadow: 0 0 5px rgba(33, 33, 33, 0.9);
  font-size: 1.5rem;
  font-weight: bold;
}

.selling-point p {
  color: #212121;
  font-weight: 800;
  font-size: 1.1rem;
  padding-top: 10px;
  height: 100%;
}

/* Library */
.library {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.albumLink {
  text-decoration: none;
  color: #212121;
  font-size: 20px;
  font-weight: 550;
  width: 100vw;
  box-shadow: 5px 0 0 rgba(175, 7, 12, 0.5);
}

.albumLink img:hover {
  box-shadow: 5px 0 0 rgba(175, 7, 12, 0.4);
}

.albumLink div:hover {
  text-decoration: underline;
  text-decoration-color: rgba(175, 7, 12, 0.4);
}
.library img {
  width: 200px;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.4);
}

.library div {
  line-height: 1.4rem;
}

.library div:first-of-type {
  text-transform: uppercase;
  font-weight: 600;
  color: #e8e8e8;
  text-shadow: 0 0 10px #000;
}

.library div:nth-child(odd) {
  font-weight: 600;
}

.library div:last-of-type {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* Album */

.album {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "album-info player-bar"
    "album-info song-list";
  justify-items: center;
}

.album-info {
  line-height: 1.5rem;
  grid-area: album-info;
  align-self: center;
  justify-self: center;
}

#album-cover-art {
  width: 300px;
}

#album-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #e8e8e8;
  text-shadow: 0 0 5px rgba(33, 33, 33, 0.9);
}

.artist {
  color: #212121;
}

#release-info {
  font-size: 1rem;
  text-transform: capitalize;
  color: #212121;
  font-weight: 600;
}

#song-list {
  grid-area: song-list;
  padding-bottom: 5em;
  align-self: start;
  margin-top: -100px;
}

.player-bar {
  grid-area: player-bar;
  align-self: end;
  justify-self: center;
  padding-bottom: 20px;
  margin-bottom: 100px;
}

/* Buttons & Icons */

#button {
  display: grid;
  grid-template-areas: "play-pause play-pause previous next";
  grid-template-columns: 10fr repeat(3, 1fr);
  width: 100%;
}

button {
  border-radius: 10%;
  color: rgb(175, 7, 12);
  background: rgba(33, 33, 33, 0.4);
  border: none;
  width: 35px;
  height: 35px;
}

button:hover {
  background: rgba(33, 33, 33, 0.8);
}

span {
  font-size: 1.2rem;
  padding-left: 0.1em;
}

#play-pause {
  grid-area: play-pause;
  justify-self: start;
}

#next {
  grid-area: next;
  justify-self: start;
}

#previous {
  grid-area: previous;
  justify-self: end;
}

/* Time Slider */

#time-control {
  display: grid;
  grid-template-areas:
    "seek-bar seek-bar seek-bar"
    "current-time none total-time";
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding-top: 5px;
  justify-items: center;
}

#time-control .seek-bar {
  grid-area: seek-bar;
}

.current-time {
  grid-area: current-time;
  justify-self: start;
  margin-top: 5px;
}

.total-time {
  grid-area: total-time;
  justify-self: end;
  margin-top: 5px;
}

#time-control input {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  border-color: 1px solid #ddd;
  background-color: rgba(33, 33, 33, 0.4);
  outline: none;
}

button:focus,
input[type="range"]:focus {
  outline: none;
  border: 0;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

#time-control input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  background-color: #212121;
  border: none;
  border-radius: 10px;
}

#time-control input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: rgb(175, 7, 12);
  border: none;
}

#time-control input[type="range"]::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: rgb(175, 7, 12);
  border: none;
}

/* Volume Slider */

#volume-control {
  display: grid;
  grid-template-areas: "ion-md-volume-low seek-bar ion-md-volume-high";
  width: 125px;
  height: 4px;
  margin-top: -25px;
  margin-left: 40px;
}

.ion-md-volume-low {
  grid-area: ion-md-volume-low;
  justify-self: end;
  font-size: 18px;
  padding-left: 5px;
}

#volume-control .seek-bar {
  grid-area: seek-bar;
  width: 100%;
  margin-top: 11px;
}

.ion-md-volume-high {
  grid-area: ion-md-volume-high;
  justify-self: start;
  font-size: 18px;
  padding-right: 5px;
}

#volume-control input {
  appearance: none;
  -webkit-appearance: none;
  width: 125px;
  height: 4px;
  border-radius: 10px;
  border-color: 1px solid #ddd;
  background-color: #212121;
  outline: none;
}

#volume-control input[type="range"]::-moz-range-track {
  width: 100px;
  height: 4px;
  background-color: #212121;
  border: none;
}

#volume-control input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(175, 7, 12);
  border: none;
}

#volume-control input[type="range"]::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(175, 7, 12);
  border: none;
}

/* Table */

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-collapse: collapse;
}

tbody td {
  background: rgba(33, 33, 33, 0.4);
  border-bottom: 1px solid #212121;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
}

tbody .ion-md-pause,
tbody .ion-md-play {
  color: rgba(175, 7, 12, 0.4);
}

table tr:hover {
  background-color: rgba(33, 33, 33, 0.8);
  color: #eee;
}

tbody td:first-of-type {
  padding-left: 10px;
  text-align: center;
}

tbody td:nth-child(2) {
  padding-left: 10px;
  font-weight: bold;
  width: 375px;
  text-align: left;
}

tbody td:last-of-type {
  padding-right: 10px;
}

/* Media Queries */
@media all and (max-width: 600px) {
  header {
    flex-direction: column;
    align-content: center;
    padding-bottom: 10px;
  }

  .landing {
    flex-wrap: wrap;
    height: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .selling-point {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header h1 {
    padding-right: 20px;
  }

  header nav {
    padding-left: 50px;
  }

  .library {
    flex-wrap: wrap;
    height: 100%;
    background-size: auto;
  }

  .album {
    grid-template-areas:
      "album-info"
      "player-bar"
      "song-list";
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
  }

  .album-info {
    padding-top: 5rem;
  }

  #button {
    grid-template-areas: "play-pause previous next";
    grid-template-columns: 6fr 1fr 1fr;
  }

  #song-list {
    margin-top: -75px;
  }
  .player-bar {
    margin-top: 20px;
    padding-bottom: 0;
  }

  #volume-control {
    margin-left: 40px;
  }

  table {
    margin-top: 25px;
  }

  tbody td:first-of-type {
    padding-left: 10px;
  }

  tbody td:nth-child(2) {
    /* padding-right: 150px; */
    padding-left: 5px;
    font-weight: bold;
    width: 200px;
  }

  tbody td:last-of-type {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (max-width: 320px) {
  #album-cover-art {
    width: 200px;
  }

  #song-list {
    margin-top: -75px;
  }

  #button {
    grid-template-areas: "play-pause previous next";
    grid-template-columns: 5fr 1fr 1fr;
  }

  tbody td:nth-child(2) {
    padding-left: 5px;
    font-weight: bold;
    width: 175px;
  }
}
