body {
  font: 15px/1.5 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: url(./music-stock.png);
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

nav .nav {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #000;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #c3121c 3px solid;
}

nav .nav {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  float: right;
  padding: 0 20px 0 20px;
  margin-top: 15px;
  font-weight: bold;
}

header #logo {
  float: left;
}

header #logo h1 {
  margin: 0;
}

#logo .highlight {
  color: #c3121c;
}

.nav:hover {
  border: #c3121c 2px solid;
}

.nav:focus {
  border: #c3121c 2px solid;
}

/* Landing */

#landing {
  text-align: center;
}

.slogan .hero-title {
  margin-top: 150px;
  font-size: 40px;
  margin-bottom: 1px;
  color: #ffffff;
}

.slider {
  width: 310px;
  height: 3px;
  background: #c3121c;
  margin-bottom: 10px;
  margin-left: 38%;
}

.selling-point {
  margin-top: 50px;
}

.selling-point .container {
  width: 100%;
  margin-left: 30px;
}

.selling-point .point {
  float: left;
  width: 30%;
  text-align: center;
  padding: 10px;

}

.point-title {
  color: #ffffff;
  font-weight: bold;
}

.point-description {
  color: #cccccc;
  font-weight: bold;
}















